:root {
  --clr-yellow: #fbffa7;
  --clr-light-blue: #b1c5ff;
  --clr-green: #b6ffc0;
  --clr-red: #ff764d;
  --clr-lilac: #d5b3ff;
  --clr-dark-blue: #0000ff;
  --clr-text: #222222;
  --clr-background: #fafafa;
  --main-font: "Archivo", sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--clr-text);
  background-color: var(--clr-background);
  margin: 0;
  padding: 2em;
}
