:root {
  --clr-yellow: #fbffa7;
  --clr-light-blue: #b1c5ff;
  --clr-green: #b6ffc0;
  --clr-red: #ff764d;
  --clr-lilac: #d5b3ff;
  --clr-dark-blue: #0000ff;
  --clr-txt: #222222;
  --clr-bg: #fafafa;
  --main-font: "Jost", sans-serif;
}

body {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 1.6;
  color: var(--clr-txt);
  background-color: var(--clr-bg);
  margin: 0;
  padding: 0;
}
