.footer-container {
  display: block;
  margin: 0 auto;
  padding: 40px 90px;
  border-top: solid 1px rgba(0, 0, 0, 0.089);
}

.footer-container a {
  color: var(--clr-text);
  font-size: 14px;
  text-decoration: none;
}

.footer-container h1 {
  font-size: 46px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 60px;
}

.footer-grid-section {
  margin-bottom: 80px;
}

.footer-container i {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 30px;
}

.input-field {
  margin-top: 20px;
}

.footer-container button {
  font-family: var(--main-font);
  padding: 5px 20px;
  color: var(--clr-background);
  background-color: var(--clr-dark-blue);
  border: none;
  cursor: pointer;
}

.footer-container input {
  padding: 7px 10px;
  background-color: rgba(128, 128, 128, 0.123);
  border: none;
}

.footer-container select {
  font-family: var(--main-font);
  margin-right: 2px;
  padding: 2px 10px;
  background-color: rgba(128, 128, 128, 0.123);
  border: none;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom a,
p {
  font-size: 12px;
}

.nav-bottom-left,
.nav-bottom-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.nav-bottom-logo {
  width: 30px;
}
