.media-block-container {
  position: relative;
}

.box {
  width: 50vw;
  height: 50vw;
  position: absolute;
  top: 0;
  left: 40vw;
  z-index: 0;
  background-color: var(--clr-yellow);
}

.media-block-container img:nth-of-type(1) {
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.media-block-container img:nth-of-type(2) {
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
