.media-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 50px auto;
}

.box {
  position: relative;
  top: 40px;
  left: 40px;
  width: 600px;
  height: 600px;
}

.media-block-container img {
  max-width: 300px;
}
