.media-block-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  margin: 80px auto;
  min-height: 600px;
}

.box {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: var(--clr-yellow);
  z-index: 0;
}

.media {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 400px;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.media:nth-of-type(2) {
  /* bottom: 0px; */
  left: 30%;
  /* transform: translate(0, 20px); */
}

.media:nth-of-type(3) {
  top: 33%;
  right: 10%;
  /* transform: translate(-20px, -20px); */
}
